<div class="bar bar-header black-gb">
    <button class="button button-clear ion-ios-arrow-back" ui-sref="personal-center">返回</button>
    <h1 class="title light">我的红包</h1>
</div>
<div class="scroll-content has-header" overflow-scroll="true">
    <ion-scroll ng-controller="myEnvelopeCtrl">
        <div class="myEnvelope">
            <div class="envolpe-content text-center">
                <div class="row">
                    <div class="col counts">¥<b>10</b></div>
                    <div class="col go-use">
                        <button>去使用</button>
                    </div>
                </div>
                <div class="row bottom">
                    <div class="col">满200元可用</div>
                    <div class="col">3天后到期</div>
                </div>
                <span class="round1"></span>
                <span class="round2"></span>
            </div>
            <div class="envolpe-content text-center">
                <div class="row">
                    <div class="col counts">¥<b>10</b></div>
                    <div class="col go-use">
                        <button>去使用</button>
                    </div>
                </div>
                <div class="row bottom">
                    <div class="col">满200元可用</div>
                    <div class="col">3天后到期</div>
                </div>
                <span class="round1"></span>
                <span class="round2"></span>
            </div>
            <div class="envolpe-content text-center">
                <div class="row">
                    <div class="col counts">¥<b>10</b></div>
                    <div class="col go-use">
                        <button>去使用</button>
                    </div>
                </div>
                <div class="row bottom">
                    <div class="col">满200元可用</div>
                    <div class="col">3天后到期</div>
                </div>
                <span class="round1"></span>
                <span class="round2"></span>
            </div>
            <div class="envolpe-content text-center">
                <div class="row">
                    <div class="col counts">¥<b>10</b></div>
                    <div class="col go-use">
                        <button>去使用</button>
                    </div>
                </div>
                <div class="row bottom">
                    <div class="col">满200元可用</div>
                    <div class="col">3天后到期</div>
                </div>
                <span class="round1"></span>
                <span class="round2"></span>
            </div>
        </div>
    </ion-scroll>
</div>