<div class="bar bar-header black-gb">
    <button class="button button-clear ion-ios-arrow-back" histroy>返回</button>
    <h1 class="title light">充值</h1>
</div>
<div class="scroll-content has-header" overflow-scroll="true">
    <ion-scroll ng-controller="topupCtrl">
        <div class="topup">
            <div class="topup-top">
                <p>这里是文字内容，这里是文字内容，这里是文字内容，这里是文字内容，这里
                    是文字内容，这里是文字内容，这里是文字内容。
                </p>
            </div>
            <div class="topup-middle">
                请选择充值方式
            </div>
            <div class="topup-content">
                <ul class="list">
                    <li class="item clear">
                        <img src="resources/img/management/weixin-logo.png">
                        <span class="transfer">
                            <p class="wx">微信转账</p>
                            <p class="merchants">商家微信账号：<span>xx123456</span>（长按可复制）</p>
                        </span>
                    </li>
                    <li class="item clear">
                        <img src="resources/img/management/zfb-logo.png">
                        <span class="transfer">
                            <p class="wx">支付宝转账</p>
                            <p class="merchants">商家支付宝账号：<span>xx123456</span>（长按可复制）</p>
                        </span>
                    </li>
                </ul>
            </div>
        </div>
    </ion-scroll>
</div>