<div class="bar bar-header black-gb">
    <button class="button button-clear ion-ios-arrow-back" histroy>返回</button>
    <h1 class="title light">投注记录</h1>
</div>
<!--content-->
<div class="scroll-content has-header" overflow-scroll="true" ng-controller="settelCtrl">
  <ion-scroll ng-controller="recordingCtrl">
      <div class="record activity">
          <div class="row text-center activity-head">
              <div class="col tab-active" ui-sref="recording">进行中</div>
              <div class="col" ui-sref="recordend">已结束</div>
          </div>
          <div class="record-content">
              <div class="row">
                  <div class="col-20 text-center">
                      <img src="resources/img/jczq-logo.png">
                  </div>
                  <div class="col-33">
                      <p class="money"><span>28</span>元</p>
                      <p>足竞2串1</p>
                  </div>
                  <div class="col start-time">
                      <span>今天</span>
                      <span>03:55</span><span>开赛 </span>&nbsp;&nbsp;
                      <i class="icon ion-chevron-right"></i>
                  </div>
              </div>
          </div>
          <div class="record-content">
              <div class="row">
                  <div class="col-20 text-center">
                      <img src="resources/img/jclq-logo.png">
                  </div>
                  <div class="col-33">
                      <p class="money"><span>28</span>元</p>
                      <p>篮竞2串1</p>
                  </div>
                  <div class="col start-time">
                      <span>今天</span>
                      <span>03:55</span><span>开赛 </span>&nbsp;&nbsp;
                      <i class="icon ion-chevron-right"></i>
                  </div>
              </div>
          </div>
          <div class="record-content">
              <div class="row">
                  <div class="col-20 text-center">
                      <img src="resources/img/jczq-logo.png">
                  </div>
                  <div class="col-33">
                      <p class="money"><span>28</span>元</p>
                      <p>足竞2串1</p>
                  </div>
                  <div class="col start-time">
                      <span>今天</span>
                      <span>03:55</span><span>开赛 </span>&nbsp;&nbsp;
                      <i class="icon ion-chevron-right"></i>
                  </div>
              </div>
          </div>
          <div class="record-content">
              <div class="row">
                  <div class="col-20 text-center">
                      <img src="resources/img/jclq-logo.png">
                  </div>
                  <div class="col-33">
                      <p class="money"><span>28</span>元</p>
                      <p>篮竞2串1</p>
                  </div>
                  <div class="col start-time">
                      <span>今天</span>
                      <span>03:55</span><span>开赛 </span>&nbsp;&nbsp;
                      <i class="icon ion-chevron-right"></i>
                  </div>
              </div>
          </div>
      </div>
  </ion-scroll>
</div>