<div class="bar bar-header black-gb">
    <button class="button button-clear ion-ios-arrow-back" histroy>返回</button>
    <h1 class="title light">昵称修改</h1>
</div>
<!--content-->
<div class="scroll-content has-header" overflow-scroll="true" ng-controller="setnameCtrl">
    <div class="content setname">
        <div class="list">
            <label class="item item-input">
                <span class="input-label">昵称修改：</span>
                <input type="text" placeholder="请输入您要修改的昵称">
                <span class="fail-clear"><i class="icon ion-close-circled"></i></span>
            </label>
        </div>
        <div class="padding">
            <button class="button button-block button-positive" style="background: red;border: 0px;">保存</button>
        </div>
    </div>
</div>