<!--header-->
<div class="bar bar-header red-gb user-dlzx">
    <button class="button button-clear ion-ios-arrow-back" histroy></button>
    <h1 class="title">店铺活动</h1>
    <a class="button button-clear icon ion-ios-home" ui-sref="shopping"></a>
</div>
<div class="scroll-content has-header" overflow-scroll="true">
    <ion-scroll ng-controller="activityendCtrl">
        <div class="activity">
            <div class="row text-center activity-head">
                <div class="col" ui-sref="activitying">进行中</div>
                <div class="col tab-active" uisref="acticityend">已结束</div>
            </div>
            <div class="activity-content clear">
                <div class="conLeft">
                    <img src="resources/img/user-touxiang.png">
                </div>
                <div class="conRight">
                    <p class="title">双十二支付宝的五折活动</p>
                    <span>双十二到了，
                        支付宝搞了个1212掌上狂欢节，当天售卖
                        机1分钱刷一瓶饮料，出租车免起步价，还有超市，餐饮
                        五折优惠。
                    </span>
                    <p>
                        <i class="icon ion-calendar"></i>
                        <span>2017/11/12-2017/11/15</span>
                    </p>
                </div>
                <img src="./resources/img/wcy.png" alt="">
            </div>
            <div class="activity-content clear">
                <div class="conLeft">
                    <img src="resources/img/user-touxiang.png">
                </div>
                <div class="conRight">
                    <p class="title">双十二支付宝的五折活动</p>
                    <span>双十二到了，
                        支付宝搞了个1212掌上狂欢节，当天售卖
                        机1分钱刷一瓶饮料，出租车免起步价，还有超市，餐饮
                        五折优惠。
                    </span>
                    <p>
                        <i class="icon ion-calendar"></i>
                        <span>2017/11/12-2017/11/15</span>
                    </p>
                </div>
                <img src="./resources/img/ycy.png" alt="">
            </div>
        </div>
    </ion-scroll>
</div>