<!--header-->
<div class="bar bar-header red-gb user-dlzx">
	<!--<button class="button button-clear ion-ios-arrow-back" histroy></button>-->
	<h1 class="title">彩店动态</h1>
	<!--<a class="button button-clear icon ion-information-circled"></a>-->
</div>
<!--content-->
<div class="scroll-content has-header has-footer" overflow-scroll="true">
	<ion-scroll ng-controller="shoppingCtrl">
		<div class="row user-msg">
			<div class="col image"><img src="resources/img/user-touxiang.png"></div>
			<div class="col-75 message">
				<p>
					<span class="store-name">店铺名称</span><span style="color:black;">（营业中）</span>
				</p>
				<p>
					近30天出票<span class="redColor">345</span>单，共收获<span class="redColor">3845</span>的好评<i class="icon ion-thumbsup redColor"></i>
				</p>
				<p>
					<i class="icon ion-ios-telephone redColor"></i>
					<span>138364653218</span>
				</p>
				<p>
					<i class="icon ion-ios-location redColor"></i>
					<span>湖北省武汉市江汉区淮海路124号</span>
				</p>
			</div>
		</div>
		<div class="row user-store">
			<div class="col store-tj" ui-sref="recommending">
				<img src="resources/img/tuijian.png">
				<span class="tj">
					<span class="weight">店铺推荐</span>
					<span>共<b>12</b>个推荐</span>&nbsp;
					<i class="icon ion-chevron-right"></i>
				</span>
			</div>
			<div class="col store-hd" ui-sref="activitying">
				<img src="resources/img/youhui.png">
				<span class="hd">
					<span class="weight">店铺活动</span>
					<span>共<b>3</b>个活动</span>&nbsp;
					<i class="icon ion-chevron-right"></i>
				</span>
			</div>
		</div>
		<div class="realNews">
			<div class="row real-msg">
				<div class="col-80">
					<p>祝大家圣诞节快乐！红单不停！</p>
					<p class="gray-color">发表于 <span>2017-12-24  15:33</span></p>
				</div>
				<div class="col">
					<img src="resources/img/zan.png">
					<span>88</span>
				</div>
			</div>
			<div class="row real-msg">
				<div class="col-80">
					<p>祝大家圣诞节快乐！红单不停！</p>
					<p class="gray-color">发表于 <span>2017-12-24  15:33</span></p>
				</div>
				<div class="col">
					<img src="resources/img/zan.png">
					<span>88</span>
				</div>
			</div>
			<div class="row real-msg">
				<div class="col-80">
					<p>祝大家圣诞节快乐！红单不停！</p>
					<p class="gray-color">发表于 <span>2017-12-24  15:33</span></p>
				</div>
				<div class="col">
					<img src="resources/img/zan.png">
					<span>88</span>
				</div>
			</div>
			<div class="row real-msg">
				<div class="col-80">
					<p>祝大家圣诞节快乐！红单不停！</p>
					<p class="gray-color">发表于 <span>2017-12-24  15:33</span></p>
				</div>
				<div class="col">
					<img src="resources/img/zan.png">
					<span>88</span>
				</div>
			</div>
			<div class="row real-msg">
				<div class="col-80">
					<p>祝大家圣诞节快乐！红单不停！</p>
					<p class="gray-color">发表于 <span>2017-12-24  15:33</span></p>
				</div>
				<div class="col">
					<img src="resources/img/zan.png">
					<span>88</span>
				</div>
			</div>
		</div>
	</ion-scroll>
</div>
<tab></tab>