<div class="bar bar-header red-gb user-dlzx">
	<button class="button button-clear ion-ios-arrow-back" histroy></button>
	<h1 class="title">忘记密码</h1>
</div>
<!--content-->
<div class="scroll-content has-header" overflow-scroll="true">
	<ion-scroll ng-controller="fgtpwdCtrl">
		<div class="list input-box">
			<div class="item item-input">
				<span>手机号</span>
				<input type="tel" class="input" ng-model="phone" placeholder="请输入手机号"/>
			</div>
			<div class="item item-input">
				<span>验证码</span>
				<input type="tel" class="input" ng-model="mobilecode"  placeholder="请输入短信验证码"/>
				<button class="yzm-btn light-bg red" ng-click="getCode();">获取验证码</button>
			</div>
			<div class="item item-input">
				<span>密码</span>
				<input type="password" class="input" ng-model="password" placeholder="请设置新密码"/>
			</div>
			<div class="item item-input">
				<span>确认密码</span>
				<input type="password" class="input" ng-model="password2" placeholder="请确认密码"/>
			</div>
		</div>
		<div class="padding dlzc-btn">
			<button class="button button-block red-gb light" ng-click="fgtpwd();">确认</button>
		</div>
	</ion-scroll>
</div>