<div class="bar bar-header red-gb user-dlzx">
	<button class="button button-clear ion-ios-arrow-back" histroy></button>
	<h1 class="title">开奖查询</h1>
	<!--<a class="button button-clear icon ion-information-circled"></a>-->
</div>
<!--content-->
<div class="scroll-content has-header" overflow-scroll="true">
	<ion-scroll>
		<div class="cx-box list">
			<div class="item item-icon-left item-icon-right" ui-sref="football">
				<i class="icon"><img src="/app/resources/img/img-jczq.png"></i>
				<p>
					<span class="grey3">竞彩足球</span>
					<span class="grey8 font11">查看比赛结果</span>
				</p>
				<i class="icon ion-chevron-right"></i>
			</div>
			<div class="item item-icon-left item-icon-right" ui-sref="basketball">
				<i class="icon"><img src="/app/resources/img/img-jclq.png"></i>
				<p>
					<span class="grey3">竞彩篮球</span>
					<span class="grey8 font11">查看比赛结果</span>
				</p>
				<i class="icon ion-chevron-right"></i>
			</div>
		</div>
	</ion-scroll>
</div>